.header-content .connect-col.center-text ul {
    list-style-type: none;
}

.header-content .connect-col.center-text ul li {
    display: inline;
}

.header-content .connect-col.center-text ul li a {
    color: #FFFFFF;
}

.btn-default {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}

body.top-navbar.admin-bar, body.top-navbar{
    padding: 0;
}

html body{
    margin: 0 !important;
}